<head>
    <title>PITACHO</title>

    <!--Meta Data-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--add a og: image later-->
    <meta property="og:site_name" content="Pitacho"/>
    <meta property="og:title" content="Pitacho"/>
    <meta name="og:description" content="Pitacho is a portfolio website featuring Alice Chen's design work in website, data visualizaiton and other areas."/>
    <meta property="og:url" content="http://www.pitacho.com/"/>
    <meta property="og:type" content="website">


    <meta name="description" content="Pitacho is a portfolio website featuring Alice Chen's design work in website, data visualizaiton and other areas."/>
    <meta name="keywords" content="web design,web designer,data visualization,design,web development"/>
    <meta name="robots" content="index" />

    <!--icon-->
    <link rel="icon" type="image/png" href="../images/logo.png" />

    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test1.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--jQuery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--bootstrap jQuery-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
